@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Prithak's Website</h1>
    <p>Learn more about <a href="www.brainwareuniversity.ac.in">Brainware University</a>.Please click here.</p>
    <p>Edited: My name is Prithak Das. Currently I'm pursuing Masters of Science in Advance Networking and Cyber Secrity from Brainware University.</p>
</div>
