@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Prithak's Website</h1>
    <p>Learn more about <a href="www.brainwareuniversity.ac.in">Brainware University</a>.Please click here.</p>
</div>
